:root {
  --skyBlue: #D6E3F8;
  --p-white: #FEF5EF;
  --navy-blue: #1f1e4a;
  --d-purple: #584B53;
  --red-purple: #9D5C63;
}

body {
  background-color: var(--skyBlue);
  font-family: arial;
}

#fourth-divider {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  width: 100%;
  gap: 20px;
  height: calc(100vh - 100px);
}
#fourth-divider div{
  border-radius: 5px;
  padding: 5px;
}
#dashboard{
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
#dashboard-div {
  background-color: var(--navy-blue);
}
.task {
  background-color: var(--p-white);
  height: 200px;
  overflow: hidden;
}

#project {
  background-color: var(--d-purple);
  color: var(--p-white);
  display:flex;
  flex-direction: column;
  gap: 10px;
  overflow-y:scroll;
}
.projectDivs {
  text-align: center;
  font-size: 20px;
  background-color: var(--red-purple);
  padding: 15px !important;
  display:inline-block;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#newProject {
  text-align: center;
  font-size: 25px;
  width: 30px;
  background-color:var(--red-purple);
}

#newProjectDiv {
  display:flex;
  justify-content: space-between;
  border: 5px dashed var(--red-purple);
  margin: 0px 4px;
  gap: 4px;
}
#newProjectDiv input {
  flex: 1;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.date {
  font-size: 20px;
}

#addTask {
  height: 190px;
  border: 5px dashed var(--red-purple);
  background-color: var(--p-white);
  display:flex;
  justify-content: center;
  align-items: center;
}

#addTask h2 {
  font-size: 100px;
  color:var(--red-purple);
}

#addTodoMenu {
  background-color: rgb(255, 220, 184);
  width: 90vw;
  height: 90vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px;
  visibility: hidden;
}

#todo-form {
  justify-content: center;
  display:flex;
  align-items: center;
  gap: 10px;
}
#todo-inputs {
  display: grid;
}
#todo-desc {
  width: max(230px, 30vw);
}

textarea{
  height: 150px;
}
input, #todo-priority, textarea, label{
  font-size: 20px;
}

.isDone {
  width: 20px !important;
  height: 20px !important;
  color: green;
}
.titleDiv {
  display:flex;
  align-items: center;
  gap: 3px;
}

#todoViewerDiv {
  background-color: #DBCDB3;
  border-radius: 10px;
  position: fixed;
  visibility: hidden;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  width: 85vw;
  min-height: 600px;
  overflow-y: scroll;
}
#todoViewerPriority {
  padding: 6px;
  border-radius: 5px;
}
#todoViewerCloser {
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: red;
  border:none;
  border-radius: 2px;
  height: 30px;
  width: 30px;
}
#todoViewer {
  width:100%;
  margin: 10px;

}
#todoHeadingText {
  display:flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}
#todoHeading {
  display:flex;
  width:100%;
  gap: 30px;
  align-items: center;

}

#titleDiv {
  display:flex;
  align-items: center;
  gap: 3px;
}

#titleDiv input{
  width: 20px;
  height: 20px;
}

.iconDiv {
  display:flex;
  gap: 3px;
}

#editMenu {
  background-color: rgb(255, 220, 184);
  width: 90vw;
  height: 25vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px;
  visibility: hidden;

}
#editMenuFormSection{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#editMenuFormSection button{
  padding: 5px;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}